body {
    background-color: #fff;
    background-image:url("../images/bg.png");
    background-repeat: repeat;
}

.header {
    text-align: center;
}
.gif {
    float: left;
    width: 50%;
    height: 200px;  
}
p {
    color: #fff;
}
button, input, optgroup, select, textarea {
    font-family: 'Nanum Pen Script', cursive;
    margin: 3px;
    color: #333;
    box-shadow: 2px 2px 2px;
    text-transform: uppercase;
    font-size: 20px;
}
button:hover {
    background-color: #000;
    color: #ccc;
}
.television {
    background-image:url("../images/simple-background-2048x1152.jpg");
    background-repeat: no-repeat;
    margin-bottom:20px;
}

#gifDump {
    background-image:url("../images/Tvbackground.gif");
    position: relative;
    width: 60%;
    height: 550px;
    overflow: scroll;
    border: 5px #000 solid;
    margin: 40px 34px;
}
.sidebar {
    width: 30%;
    height: 550px;
    position: relative;
    margin-top: 40px;
    overflow: scroll;
    margin-left: -10px;

}
h1 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    color: #d6d6d6;
    text-shadow: 2px 2px 1px #000;
    
}
h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-top: -25px;
    text-transform: uppercase;
}